.gitchangelog.rc
.github/**
.gitignore
.pytest_cache/**
.venv/**
.vscode-test/**
.vscode/**
**/*.ts
out/README.md
src/**
**/*.map
out/test/**
tests/**
test-results/**
.nvmrc
package-lock.json
.ruff_cache/**
.rumdl_cache/**
tsconfig.json
